{% assign post = include.content %}
<li>
    {% if post.thumbnail %}
      <div class="row">
        <div class="col-sm-9">
    {% endif %}
          <h3>{{ post.title }}</h3>
          <p>{{ post.description }}</p>
          <div class="post-meta" style="display: flex; align-items: center;">
            <span>{{ post.reading_time }}</span>
            <span>&nbsp; &middot; &nbsp;</span>
            <span>{{ post.date | date: '%B %d, %Y' }}</span>
            <span>&nbsp; &middot; &nbsp;</span>
            {% if post.links %}
              {% include common/icon_button_row.liquid content=post.links size='large' %}
            {% endif %}
          </div>
    {% if post.thumbnail %}
        </div>
        <div class="col-sm-3 image-container">
          <img class="card-img" src="{{ post.thumbnail | relative_url }}" style="object-fit: cover; height: 80%" alt="image">
        </div>
      </div>
    {% endif %}
</li>